﻿<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <!-- <a class="nav-item nav-link" routerLink="/usermanagement" *ngIf="isAdmin">User Management</a> -->
        <a class="nav-item nav-link" routerLink="/datamanagement" *ngIf="isAdmin">Data Management</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>

<!-- credits -->

<!-- <footer>
    <div class="text-center">
        <p>
            <a href="#" target="_top">Powered by Center of Excellence in AI and Analytic Technology | Mae Fah Luang University</a>
        </p>

    </div>
</footer> -->