<div class="container-fluid">
    <h4 class="card-header">Malaria Prediction System</h4>
    <div class="row">

        <div class="row">
            <div class="col-sm">
                <div class="card-body">
                    <div class="input-group">
                        <div class="custom-file">
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" id="file" (change)="handleFile($event.target.files)"
                                        class="custom-file-input">
                                    <label class="custom-file-label" for="inputGroupFile04">{{fileName}}</label>
                                    <!-- input type hidden value=username -->
                                </div>
                                <div class="input-group-append">
                                    <button *ngIf="this.btnSubmitStatus" class="btn btn-outline-primary" type="button"
                                        [disabled]="this.fileToUpload == undefined"
                                        (click)="importcsv()">Submit</button>
                                    <div *ngIf="spinStatus" class="spinner-border text-primary" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <button type="button" *ngIf="this.btnModelStatus" class="btn btn-outline-success"
                            (click)="trainmodel()">Train
                            Model</button>
                        <div *ngIf="spinModelStatus" class="spinner-border text-success" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <a> | </a>
                        <button type="button" class="btn btn-outline-warning" (click)="exportcsv()">Download Training
                            Data</button>
                        <a> |</a>
                        <button type="button" *ngIf="this.btnDeleteStatus" class="btn btn-outline-danger" (click)="nukemodel()">Delete Training
                            Data</button>
                        <div class="spinner-border text-danger" *ngIf="spinDeleteStatus" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>