﻿<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/offline-exporting.js"></script>

<div class="container">

    <div class="row justify-content-center mb-auto">

        <div class="col-xs mt-3">
            <h5 class="mt-2 mb-3 border-bottom-2 text-center">Upload Malaria Data</h5>
            <hr />
            <!-- <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" *ngIf="!isUnhide " style="width: 50%"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div><br> -->
            <div class="card" style="width: 18rem;">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="file" accept=".csv"  (change)="handleFile($event.target.files)" >
                    <label class="custom-file-label">{{fileName}}</label>
                </div>
                <div class="card-body text-center">
                    <button *ngIf="this.btnSubmitStatus" (click)="importcsv();" type="button"
                        class="btn btn-outline-primary" [disabled]="this.fileToUpload == undefined">OK</button>
                    <div *ngIf="spinStatus" class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <button *ngIf="this.btnDownloadStatus" (click)="exportcsv();" type="button"
                        class="btn btn-outline-success">Download</button>
                </div>
            </div>

        </div>


    </div>
    <div class="album py-3 bg-light">
        <h5 class="mb-3 border-bottom-2 pl-2 text-left">Timeline Graph</h5>
        <hr />
        <div class="row">
            <div class="col">
                <div [chart]="chartMonth"></div>
            </div>

        </div>
        <h5 class="mb-3 border-bottom-2 pl-2 text-left">Specific Graph</h5>
        <hr />
        <div class="row">
            <div class="col">
                <div [chart]="chart"></div>
            </div>
            <div class="col">
                <div [chart]="chartGender"></div>
            </div>

        </div>
        <h5 class="mb-3 border-bottom-2 pl-2 text-left">Data Dictionary</h5>
        <hr />
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Terminology</th>
                        <th scope="col">Meaning</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>F</td>
                        <td>Plasmodium falciparum</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>V</td>
                        <td>Plasmodium vivax</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>K</td>
                        <td>Plasmodium knowlesi</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>M</td>
                        <td>Plasmodium malariae</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>O</td>
                        <td>Plasmodium ovale</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Mix</td>
                        <td>Mix</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>Un</td>
                        <td>Unknown</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>M</td>
                        <td>Male</td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>F</td>
                        <td>Female</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>